body {
  font-family: sans-serif;
}

.container {
  width: 500px;
  margin: 15px auto;
}

.form-calc {
  padding: 30px;
  background-color: #ededed;
}

.label {
  position: relative;
  width: 400px;
  height: 20px;
  padding: 5px;
  padding-left: 30px;
  display: block;
}

.radio {
  display: none;
}

.radio-checkbox {
  position: absolute;
  left: 3px;
  width: 20px;
  height: 20px;
  border: 1px solid gray;
  border-radius: 50%;
}

input[type="radio"]:checked + .radio-checkbox::after {
  content: "";
  position: absolute;
  left: 3px;
  top: 3px;
  width: 14px;
  height: 14px;
  border-radius: 50%;
  background-color: gray;
}

.button {
  width: 150px;
  margin-top: 10px;
  padding: 15px;
  color: #ffffff;
  font-size: 14px;
  letter-spacing: 2px;
  text-transform: uppercase;
  font-weight: 800;
  background-color: #00b05a;
  border: none;
  box-shadow: 1px;
}

.line {
  display: flex;
  flex-wrap: wrap;
}

.input {
  width: 200px;
  padding: 10px;
  margin: 5px;
  margin-left: 0;
  font-family: sans-serif;
  font-size: 28px;
  box-sizing: border-box;
}

.legend {
  width: 200px;
  margin: 5px;
  padding-top: 7px;
}

.result {
  font-size: 22px;
}

@media  (max-width: 500px) {
  .container {
    width: 100%;
    margin: 15px auto;
  }
  
  .label {
    width: 90%;
    padding-bottom: 20px;
  }

  .legend {
    width: 200px;
    margin: 0;
    margin-bottom: 10px;
  }
  .input {
    margin-bottom: 0;
    margin-top: 10px;
  }
}